.env
node_modules
vendor
npm-debug.log
pnpm-debug.log
.git
.gitignore
.gitattributes
README.md
.vscode
.idea
*.log
.DS_Store
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/build
public/hot
public/storage
tests
.phpunit.result.cache
.env.backup
.env.production
docker-compose*.yml
Dockerfile
.dockerignore
.gitlab-ci.yml
.github
docs
TODO.MD
phpstan.neon
phpunit.xml
pint.json
crowdin.yml
update.sh